<% include ../../partitials/header %>
</head>
<body>
<% include ../../partitials/gnb %>
<h1><%=setting.subject%></h1>
<span>Total : <%=totalCount%></span>
<!-- list -->
<table class="board table">
    <colgroup>
        <col style="width:70px"/>
        <col />
        <col style="width:120px" />
        <col style="width:60px" />
        <col style="width:120px" />
    </colgroup>
    <thead>
    <tr>
        <th class="text-center">번호</th>
        <th class="text-center">제목</th>
        <th class="text-center">작성자</th>
        <th class="text-center">조회수</th>
        <th class="text-center">작성일</th>
    </tr>
    </thead>
    <tbody>
    <% if(totalCount == 0){%>
    <tr>
        <td class="text-center" colspan="3"><h5>등록된 게시물이 없습니다.</h5></td>
    </tr>
    <%}%>
    <%
        var cnt = totalCount - currentPage * setting.listSize + setting.listSize;
        data.forEach(function(e){
    %>
    <tr>
        <td class="text-center"><%=cnt%></td>
        <td>
            <%
                if(e.depth > 0){
                var margin = e.depth * 15;
            %>
            <img style="width:10px; margin:0 5px 0 <%=margin%>px" src="/images/board/reply_icon.png" />
            <% } %>
            <a style="vertical-align: text-top" href="/board/<%=category%>/view/<%=e._id%>"><%=e.subject%></a>

            <%
                var betweenTime = (new Date().getTime() - e.createAt.getTime()) / 1000 / 60 / 60;
                if(betweenTime < 12){
            %>
            <span style="font-size: 8px; padding:0 2px 1px 2px; margin-left:3px;" class="label label-danger">N</span>
            <% } %>
        </td>
        <td class="text-center"><%=e.writer%></td>
        <td class="text-center"><%=e.hits%></td>
        <td class="text-center"><% var date = e.createAt%><% include ../../partitials_util/date_format %></td>
    </tr>
    <%
        cnt--;
        });
    %>
    </tbody>
</table>
<!-- search form -->
<form id="search-form" name="search-form" method="get" class="form-inline text-right" action="/board/<%=category%>/list/1">
    <div class="form-group">
        <select name="searchType" class="form-control">
            <option value='subject,content' <%if(searchType == 'subject%2Ccontent'){%>selected<%}%>>제목 + 내용</option>
            <option value='subject' <%if(searchType == 'subject'){%>selected<%}%>>제목</option>
            <option value='writer' <%if(searchType == 'writer'){%>selected<%}%>>작성자</option>
        </select>
        <input type="text" name="searchValue" class="search-input form-control" style="width:150px" value="<%=searchValue%>">
        <button type="submit" class="btn btn-default">검색</button>
        <a class="btn btn-default" href="/board/<%=category%>/write" role="button">글작성</a>
    </div>
</form>
<!-- pageination -->
<nav class="text-center">
    <ul class="pagination">
        <%
        var listSize = setting.listSize; // 보여질 목록 갯수
        var pageSize = setting.pageSize; // 보여질 페이지 갯수

        var totalSize = totalCount; // 전체 목록 갯수
        var totalPage = Math.ceil(totalSize / listSize); // 전체 페이지 갯수
        var totalPageGroupSize = Math.ceil(totalPage / pageSize);
        var currentPageGroupNum = Math.ceil(currentPage / pageSize); // 현재 페이지 그룹 번호
        var prevPageGroupNum = currentPageGroupNum - 1;
        var nextPageGroupNum = currentPageGroupNum + 1;

        var startPage = currentPageGroupNum * pageSize - pageSize + 1; // 보여질 시작 페이지
        var endPage = currentPageGroupNum * pageSize; // 보여질 끝 페이지
        if(endPage > totalPage) endPage = totalPage; // 마지막 페이지 보다 보여질 끝 페이지가 크다면 변경
        %>

        <%
        if(prevPageGroupNum > 0){
            var prevPage = prevPageGroupNum * pageSize - pageSize + 1;
        %>
        <li><a href="/board/<%=category%>/list/1<% if(searchValue){%>?searchType=<%=searchType%>&searchValue=<%=searchValue%><%}%>" aria-label="first"><span aria-hidden="true">&laquo;</span></a></li>
        <li><a href="/board/<%=category%>/list/<%=prevPage%><% if(searchValue){%>?searchType=<%=searchType%>&searchValue=<%=searchValue%><%}%>" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
        <%}%>

        <% for(var i=startPage; i<=endPage; i++){%>
        <li <% if(i==currentPage){%>class="active"<%}%>><a href="/board/<%=category%>/list/<%=i%><% if(searchValue){%>?searchType=<%=searchType%>&searchValue=<%=searchValue%><%}%>"><%=i%></a></li>
        <%}%>

        <%
        if(nextPageGroupNum <= totalPageGroupSize){
            var nextPage = nextPageGroupNum * pageSize - pageSize + 1;
            if(nextPage > totalPage) nextPage = totalPage;
        %>
        <li><a href="/board/<%=category%>/list/<%=nextPage%><% if(searchValue){%>?searchType=<%=searchType%>&searchValue=<%=searchValue%><%}%>" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
        <li><a href="/board/<%=category%>/list/<%=totalPage%><% if(searchValue){%>?searchType=<%=searchType%>&searchValue=<%=searchValue%><%}%>" aria-label="last"><span aria-hidden="true">&raquo;</span></a></li>
        <%}%>

    </ul>
</nav>
<% include ../../partitials/footer %>